/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*VAR*/
    --colortitulos: goldenrod;
    --colorletraoscuro: #603813;
    --colorletraclaro: #d7a87c;
    --colorbackclaro: #b9885a;
    --colorgrisclaro: #ebd9c9;
    --colornegro: #333333;
}

footer {
    background-color: var(--colorbackclaro);
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    min-height: 12em;
    margin-top: -5rem;
}

.containerLogo img{
    width: 40%;
}

.containerSocialNetwork {
    color: var(--colorletraclaro);
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerSocialNetwork i {
    color: var(--colorgrisclaro);
    font-size: 3rem;
    transition: .2s ease-in-out;
}

.containerSocialNetwork i:hover {
    color: var(--colornegro);
    font-size: 3rem;
    transition: .2s ease-in-out;
}

.copyright {
    background-color: var(--colorletraoscuro);
    text-align: center;
    min-height: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.copyright a{
    text-decoration: none;
}

.footerText {
    color: var(--colorgrisclaro);
    letter-spacing: 2px;
    font-family: 'Raleway';
    text-decoration: none;
}