/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*VAR*/
    /*VAR*/
    --colortitulos: goldenrod;
    --darkgold: #d39921;
    --lightgold: #fdd65b;
    --colorletraoscuro: #603813;
    --colorletraclaro: #d7a87c;
    --colorgrisclaro: #ebd9c9;
    --colornegro: #333333;
}

/*HISTORY*/
.historyContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: var(--colorbackclaro); */
    margin-top: 3rem;
    margin-bottom: -6rem;
    position: relative;
    padding: 0rem 1rem;
}

.titleContainer {
    font-size: 2rem;
    color: var(--darkgold);
    font-weight: 600;
    font-family: 'stayWinter';
    display: flex;
    border-bottom: 2px solid white;
    width: fit-content;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-top: 10%;
    cursor: default;
}

.contentContainer {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Raleway';
    color: var(--colornegro);
    margin: 1.5rem 10rem;
    flex-direction: column;
    cursor: default;
}

.contentContainer span {
    color: var(--colortitulos);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-family: 'stayWinter';
    font-weight: 600;
    margin-bottom: 10%;
}

.btnRight {
    align-self: center;
}

/* ANIMATION */
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .3s;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .historyContainer {
        height: auto;
        margin-bottom: -0.5rem;
    }

    .contentContainer {
        margin: 0;
        text-align: center;
        font-size: 1.2rem;
    }

    .titleContainer {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .contentContainer span {
        font-size: 1.5rem;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .historyContainer {
        margin-bottom: -0.5rem;
    }

    .contentContainer {
        margin: 1.5rem 5rem;
    }

    .contentContainer span {
        font-size: 2.5rem;
    }
}

/* MOBILE SMALL */
@media only screen and (max-width: 360px) {
    .contentContainer span {
        font-size: 1.3rem;
    }
}