/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*VAR*/
    --colortitulos: goldenrod;
    --colorletraoscuro: #603813;
    --colorletraclaro: #d7a87c;
    --colorbackclaro: #b9885a;
    --colorgrisclaro: #ebd9c9;
    --colornegro: #333333;
}

/*HISTORY*/
.historyContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--colorbackclaro);
    margin-top: -0.5rem;
    position: relative;
    padding: 0rem 1rem;
}

.titleContainer {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-family: 'Raleway';
    display: flex;
    border-bottom: 2px solid white;
    width: fit-content;
    letter-spacing: 1px;
    margin-left: 10%;
}

.contentContainer {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Raleway';
    color: var(--colorgrisclaro);
    margin: 1.5rem 10rem;
    flex-direction: column;
}

.contentContainer span {
    color:white;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-family: 'stayWinter';
    font-weight: 600;
}

.btnRight{
    align-self: center;
}


/* MOBILE */
@media screen and (max-width: 767px) {
    .historyContainer{
        height: auto;
        margin-bottom: -0.5rem;
    }
    .contentContainer{
        margin: 0;
        text-align: center;
        font-size: 1.2rem;
    }
    .titleContainer{
        margin-left: 0;
        margin-bottom: 2rem;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {

}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .historyContainer{
        margin-bottom: -0.5rem;
    }
    .contentContainer{
        margin: 1.5rem 5rem;
    }
}