/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
main {
    margin-top: 2.5rem;
}

/*Section Info*/
.infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    margin: 0rem 1rem;
}

.textRight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0rem 5rem;
}

p.infoTitle {
    font-size: 3rem;
    font-weight: 600;
    color: goldenrod;
    letter-spacing: 1px;
    cursor: default;
}

.nav-links a {
    position: relative;
    display: block;
    padding: 5px;
}

.nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #bc8c68, goldenrod, gold);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.infoTitle::before {
    content: '';
    position: absolute;
    bottom: 370px;
    width: 21%;
    height: 2px;
    background: linear-gradient(to right, #bc8c68, goldenrod, gold);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.infoTitle:hover::before {
    transform: scaleX(1);
}

p.infoDesc {
    text-align: justify;
    font-size: 1.4rem;
    color: #754c24;
    letter-spacing: 1px;
}


.btn {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: #333333;
    text-decoration: none;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
}

.btn::before {
    background-color: #ebd9c9;
    top: -0.25rem;
    left: 0rem;
}

.btn::after {
    background-color: #ad786b;
    top: 0.25rem;
    left: 8rem;
}

.btn:hover::before,
.btn:hover::after {
    top: 0;
    transform: skewx(0deg);
}

.btn:hover::after {
    left: 0rem;
}

.btn:hover::before {
    left: 8rem;
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .infoContainer{
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
    .imagesLeft img{
        /* width: 80%; */
        display: none;
    }
    .infoTitle::before {
        content: '';
        display: none;
    }
    .btnMore {
        margin-top: 2rem;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {
    .infoContainer{
        margin: 8rem 1rem;
    }
    p.infoTitle{
        font-size: 4rem;
    }
    .infoTitle::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 15%;
        height: 2px;
        background: linear-gradient(to right, #bc8c68, goldenrod, gold);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
        top: 26rem;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px){
    .infoContainer{
        grid-template-columns: none;
        grid-template-rows: 1fr;
        margin-top: 5rem;
    }
    .textRight{
        margin-top: 2rem;
    }
}