/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*VAR*/
    --colortitulos: goldenrod;
    --darkgold: #d39921;
    --lightgold: #fdd65b;
    --colorletraoscuro: #603813;
    --colorletraclaro: #d7a87c;
    --colorgrisclaro: #ebd9c9;
    --colornegro: #333333;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--lightgold) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--lightgold);
    border-radius: 10px;
    border: 3px none #ffffff;
}

/* body */
main {
    margin-top: 2%;
}

/*Section Info*/
.infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    padding: 0rem 1rem;
    /* background-color: gainsboro; */
    /* background-image: url('../images/info.jpg'); */
    background-image: url('../images/info.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.textRight {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
    cursor: default;
}

p.infoTitle {
    font-size: 3rem;
    font-weight: 600;
    /* color: var(--colortitulos); */
    background: -webkit-linear-gradient(var(--darkgold), var(--lightgold), var(--darkgold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    cursor: default;
    font-family: "stayWinter";
    text-shadow: 8px 8px 25px var(--darkgold);
    -webkit-text-stroke: .1px var(--lightgold);
}

.infoTitlemin {
    margin: 0;
    padding: 0;
    text-align: end;
    font-family: 'Raleway';
    letter-spacing: 1.5px;
    border-bottom: 2px solid var(--colortitulos);
    /* color: var(--colortitulos); */
    font-weight: 600;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    background: -webkit-linear-gradient(var(--darkgold), var(--lightgold), var(--darkgold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 8px 8px 25px var(--darkgold);
    -webkit-text-stroke: .1px var(--lightgold);
    position: relative;
    top: -2rem;
}

.nav-links a {
    position: relative;
    display: block;
    padding: 5px;
}

.nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--colorletraclaro), var(--colortitulos), gold);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.infoTitle::before {
    content: '';
    position: absolute;
    bottom: 370px;
    width: 21%;
    height: 2px;
    background: linear-gradient(to right, var(--colorletraclaro), var(--colortitulos), gold);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.infoTitle:hover::before {
    transform: scaleX(1);
}

p.infoDesc {
    text-align: justify;
    font-size: 1.4rem;
    color: var(--colorgrisclaro);
    letter-spacing: 1px;
    margin: 2rem 0rem;
    background: #60381393;
    padding: 1%;
}

.btnMore {
    margin: 2rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.imgInfo {
    width: 100%;
}

.btn {
    position: relative;
    letter-spacing: 5px;
    margin: 0 auto;
    padding: 1rem 4rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: var(--colorletraoscuro);
    text-decoration: none;
    transition: .5s ease-in-out;
    font-family: 'Raleway';
    font-weight: 600;
    z-index: 2;
    background-image: url('../images/backBtn.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn:hover {
    color: white;
    transition: .5s ease-in-out;
    font-weight: 600;
}

/*ANIMACIONES*/
.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .5s;
}

@-webkit-keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .7s;
}

@-webkit-keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .infoContainer {
        grid-template-columns: none;
        /* grid-template-rows: 1fr; */
        margin-top: 8%;
    }

    .imagesLeft img {
        /* width: 80%; */
        display: none;
        visibility: hidden;
    }

    .infoTitle::before {
        content: '';
        display: none;
    }

    .btnMore {
        margin-top: 2rem;
    }
    .infoTitlemin{
        top: 0;
        font-size: 1.5rem;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {
    .infoContainer {
        margin: -0.5rem 0rem;
    }

    p.infoTitle {
        font-size: 4rem;
    }

    .infoTitle::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 15%;
        height: 2px;
        background: linear-gradient(to right, #bc8c68, goldenrod, gold);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
        top: 26rem;
    }
    .infoTitlemin {
        right: 5rem;
        font-size: 1.5rem;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .infoContainer {
        grid-template-columns: none;
        /* grid-template-rows: 1fr; */
        margin-top: 2rem;
    }

    .textRight {
        margin-top: -30rem;
    }

    p.infoTitle {
        font-size: 5rem;
    }

    footer{
        margin-top: -2rem;
    }
    .infoTitlemin {
        font-size: 1.5rem;
    }
}

/* IPHONE 13 PRO MAX */
@media only screen and (max-width: 500px) and (min-width: 428px) {
    .infoTitlemin{
        top: 0;
        font-size: 1.5rem;
    }
}

/* MOBILE SMALL */
@media only screen and (max-width: 360px) {
    p.infoTitle{
        font-size: 1.5rem;
    }
    .textRight{
        margin: 0rem 1rem;
    }
    .infoTitlemin{
        top: 0;
        font-size: 1rem;
    }
}