/*FONTS*/
@font-face {
    font-family: Raleway;
    src: url(../../../assets/fonts/Raleway.ttf);
}

@font-face {
    font-family: stayWinter;
    src: url(../../../assets/fonts/stayWinter.otf);
}

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*VAR*/
    --colortitulos: goldenrod;
    --darkgold: #d39921;
    --lightgold: #fdd65b;
    --colorletraoscuro: #603813;
    --colorletraclaro: #d7a87c;
    --colorgrisclaro: #ebd9c9;
    --colornegro: #333333;
}

.containerServices {
    width: 100%;
    height: 100%;
    padding: 10% 8% 10% 8%;
    font-family: 'Raleway';
}

.containerServices h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    cursor: default;
}

.containerServices h1::after {
    content: '';
    background: var(--darkgold);
    width: 20%;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
    border: 2px solid var(--darkgold);
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--darkgold);
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.service:hover {
    background: var(--darkgold);
    color: #fff;
    transform: scale(1.05);
}

.service:hover i {
    color: #fff;
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .containerServices h1 {
        margin-bottom: 20px;
    }
}