@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway.ttf);
}

@font-face {
  font-family: stayWinter;
  src: url(../fonts/stayWinter.otf);
}

input[type='range']::-moz-range-track {
  background: none;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  background: #6ab42d;
  z-index: 3;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  background: #6ab42d;
  z-index: 3;
  cursor: pointer;
}

.action {
  color: #fff;
  font-family: Raleway;
}

.card {
  color: #000 !important
}

.text {
  text-align: center;
  line-height: 1.5;
  color: #231f20 !important;
  font-family: Raleway;
}

.footerText {
  text-decoration: none;
  letter-spacing: 1px;
  color: #231f20 !important;
  font-family: Raleway;
  font-size: 1rem;
  text-align: center;
}

.footerText:hover {
  color: whitesmoke;
}

.svgwave {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  top: -2.5rem;
}

.svgwaveInverted {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  transform: rotate(180deg);
  top: -4.5rem;
}

.linea {
  height: 100%;
  width: 2px;
  display: flex;
  position: absolute;
  background: #ffffff;
  left: 12.4rem;
  z-index: 10;
  top: 0px;
  padding: 0;
  margin: 0;
}

.imgBack {
  position: relative;
  top: -40px;
}

.titleApp {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  font-family: 'stayWinter';
  padding: 0;
  margin: 0;
}

.descApp a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Raleway';
}

.descApp {
  padding: 0;
  margin: 0;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  align-content: end;
  flex-wrap: wrap;
  text-align: end;
  margin-right: 10px;
}

.contentRight{
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  text-align: end;
  margin-left: 2rem;
}

/* DESKTOP BIG */
@media only screen and (min-width: 900px) {  
  .linea{
    left: 14.5rem;
    top: 100px;
  } 
} 

/* IPHONE 13 PRO MAX */
@media only screen and (max-width: 500px) and (min-width: 428px) {  
  .linea{
    left: 12.9rem;
  }
}

/* MOBILE SMALL */
@media only screen and (max-width: 360px){  
  .linea{
    left: 10.7rem;
  }
  .contentRight{
    margin-left: 2rem;
  }
  .descApp a{
    font-size: .8rem;
  }
  #vcard{
    font-size: 1rem;
  }
  .footerText{
    font-size: .8rem;
  }
}